/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
h1{
	color:red;
	text-align: center;
	text-shadow: 2px 2px 1px grey;
	transition: all 1s;
}
h1:hover{
	color:blue;
	font-size:80px;
	text-shadow: 6px 6px 3px grey;
}

img{
	border-radius: 200px;
	box-shadow: 8px 8px 4px grey;
	transition: all 1s; /*要素が変化する時間を指定*/
}
img:hover{
	width:700px;
	height:700px;
	border-radius: 350px;
	box-shadow: 8px 8px 4px grey;
}

.profile-image{
	text-align: center;
}
